
.App-logo {
    width: 287px;
    height: 384px;
    display:inline-block;margin-right:10px;
}

.App-logo img {
    width: 100%;
    height: auto;
}

.App {
  text-align: center;
}

.register {
  display:inline-block;
}
