body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Book {
  display:flex;
  flex-direction:row;
}

.Book > div {
  border: solid black 1px;
  width:50%;
}

.left-half > img {
  max-width: 100%;
}

.nav > div {
  width: 50%;
}

.nav {
  display:flex;
  flex-direction:row;
}

.flip-vertical {
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0)
}

.left-arrow {

 }

.right-arrow {

}
